numpy
pandas
scipy
matplotlib
streamlit
pandas-profiling
streamlit-pandas-profiling
openpyxl
xlrd
geemap
geopandas
keplergl
leafmap
owslib
palettable
plotly
joblib
scikit-learn
specklepy
plotly-express
openai
streamlit-chat
requests
streamlit-elements

